body {
    background-color: black;
    color: white;
    font-family: 'Archivo', sans-serif; 
}

#sketch-file {
    position: fixed;
    z-index: 10;
    float: left;
    margin-top: -400px;
}
.top-row {
    z-index: 30;
    float: right;
}

nav {
    border-bottom: 2px solid grey ;
    display: inline-block;
}

.links {
    list-style-type: none;
    display:inline-block;
    width: 50px;
}


#headder {
    margin-top: 130px;
    margin-left: 70px;
    position: relative;
    z-index: 20;
    width: 800px;
    background-color: transparent;
}

#titles {
    font-size: 550%;
    width: 380px;
}

#desc {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 8px;
    font-weight: 100;
    width: 550px;
    line-height: 20px;
}

